<nav class="navbar navbar-expand-xxl navbar-dark bg-primary justify-content-center">
        <div class="container fluid">
            <ul class="nav me-auto ">
                <li class="nav-item ">
                    <a class="nav-link link-light" href="form_page base.html" aria-current="page">Добавить</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Отфильтровать значения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Создать отчет</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Обновления</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Обратная связь</a>
                </li>
            </ul>
            <div class="navbar-text ms-auto">
                 {{ role }} {{ name }}
            </div>
        </div>
</nav>
