<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Пустая форма</title>    
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/config.js"></script>
    <script src="js/change-block-script.js"></script>
    <script src="js/select-navigation.js"></script>
    <script src="js/show-end-date.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/measures.js"></script>
    <script src="js/wind-speed.js"></script>    
    <script src="js/bootstrap.js"></script>
    <script src="js/file-upload.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-xl fixed-top bg-primary">
        <div class="container fluid">
            <button class="navbar-toggler"
                    type="button" data-bs-toggle="collapse"
                    data-bs-target="#main-navbar"
                    aria-controls="main-navbar"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    style="padding: 2%;">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbar-brand">
                <h1><a class="nav-link link-light" href="table_page.html">АРМ СиОО</a></h1>
            </div>
            <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item ">
                    <a class="nav-link link-light" href="form_page.html" aria-current="page" aria-disabled="true">Добавить</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Отфильтровать значения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Создать отчет</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Обновления</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Обратная связь</a>
                </li>
            </ul>
            </div>
            <div class="navbar-text ms-auto">
                 {{ role }} {{ name }}
            </div>
        </div>
    </nav>
    <div class="justify-content-center bg-light" data-bs-theme="light" style="padding-top: 90px; padding-left: 2.53%; padding-right: 2.53%;">
        <div class="form-top-container">
            <div style="width: 100%; display: block;"> 
                <div class="internal-block" style="display: grid;  align-items: center;">
                    <label for="filial">Филиал</label>
                    <select class="form-select" id="filial" style="width:100%; box-sizing: border-box"> 
                        <option value="">Выберите филиал</option>
                        <option value="tatar">Татарский АУГ МПГ</option>
                        <option value="bashkir">Башкирский АУГ МПГ</option>
                    </select>
                </div>
                <div class="internal-block" style="display: grid; align-items: center;">
                    <label for="enviroment-type">Тип обстановки</label>
                    <select class="form-select" id="enviroment-type" style="width:100%; box-sizing: border-box">
                        <option value="equipment-failure">Отказ оборудования</option>
                        <option value="weather">Погодные условия</option>
                        <option value="fire">Пожарные условия</option>
                        <option value="geology">Геологические условия</option>
                        <option value="hydrology">Гидрологические условия</option>
                        <option value="emergency">Чрезвычайная ситуация</option>
                        <option value="other">Другие</option>
                    </select>
                </div>
                <div class="internal-block" style="display: grid; align-items: center;">
                    <label for="event-location">Место возникновения события</label>
                    <select class="form-select" id="event-location" style="width:100%">
                        <option value="">Выберите место возникновения</option>
                        <option value="water">водопровод</option>
                    </select>
                </div>
            </div>
            <div class="internal-block" style="display: block; " >
                <div style="display: grid; grid-template-columns: auto 1fr; align-items: start; column-gap: 10px; margin-bottom: 1.27%;">
                    <label style="white-space: nowrap;">Дата начала: </label>
                    <input type="date" class="form-control" min="1900-01-01" style="width:100%;">
                </div>
                <div id="event-end" style="display: none; grid-template-columns: auto 1fr; align-items: start; column-gap: 10px;">
                    <label style="white-space: nowrap;">Дата конца: </label>
                    <input type="date" class="form-control" style="width:100%;">
                </div>
            </div>
            
        </div>
    </div>
    <div class="main-form">
        <div class="changing-form" id="equipment-failure" style="display: block;">
            <div class="external-block" id="pick-objects" style="width: 100%; display: block;">
                <div class="internal-block" style="display:grid; align-items: center; grid-template-columns: 51.5% 1fr auto;">
                    <label id="one_object" style="white-space: nowrap;">Объект, на котором произошло событие:</label>
                    <input class="form-control" name="picked_object" type="text" disabled/>
                    <button class="btn btn-primary" style="white-space: nowrap; min-width: max-content; overflow: hidden; text-overflow: ellipsis;" 
                            data-bs-toggle="modal" data-bs-target="#oneObjectModal">Выбрать объект</button>
                    <div id="oneObjectModal" class="modal fade modal-lg" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <ul class="nav nav-tabs nav-justified" id="oneObjectTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="type_1_tab" data-bs-toggle="tab" data-bs-target="#type_1" 
                                                    type="button" role="tab" aria-controls="type_1" aria-selected="true">тип1</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="type_2_tab" data-bs-toggle="tab" data-bs-target="#type_2" 
                                                    type="button" role="tab" aria-controls="type_2" aria-selected="false">тип2</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="type_3_tab" data-bs-toggle="tab" data-bs-target="#type_3" 
                                                    type="button" role="tab" aria-controls="type_3" aria-selected="false">тип3</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="type_4_tab" data-bs-toggle="tab" data-bs-target="#type_4" 
                                                    type="button" role="tab" aria-controls="type_4" aria-selected="false">тип4</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="type_5_tab" data-bs-toggle="tab" data-bs-target="#type_5" 
                                                    type="button" role="tab" aria-controls="type_5" aria-selected="false">тип5</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="type_6_tab" data-bs-toggle="tab" data-bs-target="#type_6" 
                                                    type="button" role="tab" aria-controls="type_6" aria-selected="false">тип6</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="search_tab" data-bs-toggle="tab" data-bs-target="#search" type="button" role="tab" aria-controls="search" aria-selected="false">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                                </svg>
                                            </button>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="oneObjectTabContent">
                                        <div class="tab-pane fade show active" id="type_1" role="tabpanel" aria-labelledby="type_1_tab">
                                            <div class="table-responsive">
                                                <table class="table table-primary table-responsive table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Объект</th>
                                                            <th scope="col">Участвует в событии</th>
                                                            <th scope="col">Состояние оборудования</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for row in table %}
                                                        <tr class="">
                                                            <td scope="row">{{lan.0}}</td>
                                                            <td scope="row"><input type="radio" class="form-check" name="oneObjectRadios" id="{{lan.7}}"></td>
                                                            <td scope="row">{{lan.1}}</td>
                                                        </tr>
                                                        {% empty %}
                                                        <tr class="">
                                                            <td scope="row">0</td>
                                                            <td scope="row"><input type="radio" class="form-check" name="oneObjectRadios" id="{{lan.7}}"></td>
                                                            <td scope="row">1</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="type_2" role="tabpanel" aria-labelledby="type_2_tab">...</div>
                                        <div class="tab-pane fade" id="type_3" role="tabpanel" aria-labelledby="type_3_tab">...</div>
                                        <div class="tab-pane fade" id="type_4" role="tabpanel" aria-labelledby="type_4_tab">...</div>
                                        <div class="tab-pane fade" id="type_5" role="tabpanel" aria-labelledby="type_5_tab">...</div>
                                        <div class="tab-pane fade" id="type_6" role="tabpanel" aria-labelledby="type_6_tab">...</div>
                                    </div>
                                </div>
                                <div class="modal-footer internal-block" style=" margin-bottom: 0; display: grid;">
                                    <button data-bs-dismiss="modal" class="btn btn-danger" style="min-width: 120px; justify-self: start;">Отменить</button>
                                    <button id="save-oneObject" class="btn btn-primary" style="min-width: 120px; justify-self: end;">Сохранить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="internal-block" style="display:grid; align-items: center; grid-template-columns: 51.5% 1fr;">
                    <span style="grid-column: 1; grid-row: 1; white-space: nowrap;">Список объектов под влиянием события:</span>
                    <button class="btn btn-primary" style="grid-column: 1; grid-row: 2; white-space: nowrap; min-width: max-content;" data-bs-toggle="modal" data-bs-target="#multObjectModal">Добавить/изменить объекты</button>
                    <div id="multObjectModal" class="modal fade modal-lg" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <ul class="nav nav-tabs nav-justified" id="multObjectTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="mot_type_1_tab" data-bs-toggle="tab" data-bs-target="#mot_type_1" type="button" role="tab" aria-controls="mot_type_1" aria-selected="true">тип1</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="mot_type_2_tab" data-bs-toggle="tab" data-bs-target="#mot_type_2" type="button" role="tab" aria-controls="mot_type_2" aria-selected="false">тип2</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="mot_type_3_tab" data-bs-toggle="tab" data-bs-target="#mot_type_3" type="button" role="tab" aria-controls="mot_type_3" aria-selected="false">тип3</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="mot_type_4_tab" data-bs-toggle="tab" data-bs-target="#mot_type_4" type="button" role="tab" aria-controls="mot_type_4" aria-selected="false">тип4</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="mot_type_5_tab" data-bs-toggle="tab" data-bs-target="#mot_type_5" type="button" role="tab" aria-controls="mot_type_5" aria-selected="false">тип5</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="mot_type_6_tab" data-bs-toggle="tab" data-bs-target="#mot_type_6" type="button" role="tab" aria-controls="mot_type_6" aria-selected="false">тип6</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="mot_search_tab" data-bs-toggle="tab" data-bs-target="#mot_search" type="button" role="tab" aria-controls="mot_search" aria-selected="false">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                                </svg>
                                            </button>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="multObjectTabContent">
                                        <div class="tab-pane fade show active" id="mot_type_1" role="tabpanel" aria-labelledby="mot_type_1_tab">
                                            <div class="table-responsive">
                                                <table class="table table-primary table-responsive table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Объект</th>
                                                            <th scope="col">Участвует в событии</th>
                                                            <th scope="col">Состояние оборудования</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for row in table %}
                                                        <tr class="">
                                                            <td scope="row">{{lan.0}}</td>
                                                            <td scope="row"><input type="checkbox" class="form-check" id="{{lan.7}}"></td>
                                                            <td scope="row">{{lan.1}}</td>
                                                        </tr>
                                                        {% empty %}
                                                        <tr class="">
                                                            <td scope="row">0</td>
                                                            <td scope="row"><input type="checkbox" class="form-check" id="{{lan.7}}"></td>
                                                            <td scope="row">1</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="mot_type_2" role="tabpanel" aria-labelledby="mot_type_2_tab">...</div>
                                        <div class="tab-pane fade" id="mot_type_3" role="tabpanel" aria-labelledby="mot_type_3_tab">...</div>
                                        <div class="tab-pane fade" id="mot_type_4" role="tabpanel" aria-labelledby="mot_type_4_tab">...</div>
                                        <div class="tab-pane fade" id="mot_type_5" role="tabpanel" aria-labelledby="mot_type_5_tab">...</div>
                                        <div class="tab-pane fade" id="mot_type_6" role="tabpanel" aria-labelledby="mot_type_6_tab">...</div>
                                    </div>
                                </div>
                                <div class="modal-footer internal-block" style=" margin-bottom: 0; display: grid;">
                                    <button data-bs-dismiss="modal" class="btn btn-danger" style="min-width: 120px; justify-self: start;">Отменить</button>
                                    <button id="save-multObject" class="btn btn-primary" style="min-width: 120px; justify-self: end;">Сохранить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <textarea class="form-control" style="grid-column: 2; grid-row: 1 / span 2; height: 100%;" disabled></textarea>                           
                </div>
            </div>
            <div class="external-block">
                <div class="internal-block" style="display: grid;">
                    <span style="white-space: nowrap;">Система возникновения отказа:</span>
                    <select class="form-select" id="system_decline"> 
                        <option value="">Выберите тип обстановки</option>
                        <option value="equipment failure">Отказ оборудования</option>
                        <option value="weather">Погодные условия</option>
                    </select>
                </div>
                <div class="internal-block" style="display: grid;">
                    <span for="equipment-type" style="white-space: nowrap;">Тип оборудования:</span>
                    <select class="form-select" id="equipment-type"> 
                        <option value="">Выберите тип обстановки</option>
                        <option value="equipment failure">Отказ оборудования</option>
                        <option value="weather">Погодные условия</option>
                    </select>
                </div>
                <div class="internal-block" style="display: grid;">
                    <span id="lbl-equipment-correction" style="white-space: nowrap;">Уточнение по оборудованию:</span>
                    <input class="form-control" name="equipment-correction" type="text" aria-describedby="lbl-equipment-correction"/>
                </div>
                <div class="internal-block" style="display: grid;">
                    <span for="equipment-state" style="white-space: nowrap;">Состояние оборудования:</span>
                    <select class="form-select" id="equipment-state"> 
                        <option value="">Выберите тип обстановки</option>
                        <option value="equipment failure">Отказ оборудования</option>
                        <option value="weather">Погодные условия</option>
                    </select>
                </div>
            </div>
            <div class="internal-block" style="display: block;">
                <label class="label-for-textarea" for="describe-event" style="white-space: nowrap;">Описание события:</label>
                <textarea class="form-control" name="describe-event" type="text" style="width: 100%;"></textarea>
            </div>
        </div>
        <div class="changing-form" id="weather" >
            <div class="external-block" style="display: block;">
                <div class="internal-block" style="display: grid; align-items: center;">
                    <label>Вид информации и источник: </label>
                    <select class="form-select" id="">

                    </select>
                </div>
                <div class="internal-block" style="display: block;">
                    <label class="label-for-textarea">Географическая территория(край, область, регион):</label>
                    <textarea class="form-control" id="territory" ></textarea>
                </div>
            </div>
            <div class="external-block" style="display: block;">
                <div class="internal-block responsive-block">
                    <div class="internal-block" style="display: grid;"> 
                        <label style="grid-column: 1 / span 3; grid-row: 1;">Метеоусловия:</label>
                        <button class="btn btn-primary" style="grid-column: 1; grid-row: 2;">&lt</button>
                        <select class="form-select" id="select-weather-condition" style="grid-column: 2; grid-row: 2; text-align-last: center; text-align: center;">
                            <option>☀️ Ясно</option>
                            <option>⛅ Облачно</option>
                            <option>☁️ Пасмурно</option>
                            <option>🌧️ Дождь</option>
                            <option>🌫️ Туман</option>
                            <option>❄️ Снег</option>
                            <option>❄️🌬️ Метель</option>
                        </select>
                        <button class="btn btn-primary" style="grid-column: 3; grid-row: 2;">&gt</button>
                    </div>
                    <div class="internal-block" style="display: grid;">
                        <label style="grid-column: 1 / span 3; grid-row: 1;">Осадки:</label>
                        <button class="btn btn-primary" style="grid-column: 1; grid-row: 2;">&lt</button>
                        <select class="form-select" id="select-rainfall" style="grid-column: 2; grid-row: 2; text-align-last: center; text-align: center;">
                            <option>Отсутствуют ☀️</option>
                            <option>Дождь 🌧️</option>
                            <option>Гроза ⚡</option>
                            <option>Снег ❄️</option>
                            <option>Снег с порывами ветра ❄️💨</option>
                            <option>Град 🧊</option>
                            <option>Ледяной дождь 🌧️🧊</option>
                            <option>Дождь с порывами ветра 🌧️💨</option>
                        </select>
                        <button class="btn btn-primary" style="grid-column: 3;grid-row: 2;">&gt</button>
                    </div>
                </div>
                <div class="internal-block" style="display: grid; grid-template-columns: auto auto;">
                    <div class="internal-block" style="display: grid; margin-bottom: 0%;">
                        <label >Температура (по Цельсию):</label>
                        <input class="form-control" type="number" min="-273" required/>
                    </div>
                </div>
                <div class="internal-block" style="display: grid; grid-template-columns: auto auto; ">
                    <div class="internal-block" style="display: grid; margin-bottom: 0%; grid-template-columns: auto 1fr 1fr;">
                        <label style="grid-column: 1;">Ветер (м/сек):</label>
                        <input id="input-wind-speed" class="form-control" type="number" min="0" style="grid-column: 2;" required/>
                        <input id="output-wind-group" class="form-control" type="text" style="grid-column: 3;" disabled/>
                    </div>
                </div>
            </div>
            <div class="internal-block" style="display: block;">
                <label class="label-for-textarea">Прочее:</label>
                <textarea class="form-control"></textarea>    
            </div>
        </div>
        <div class="changing-form" id="fire">
            <div class="external-block" style="display: grid; align-items: center; grid-template-columns: auto 1fr; column-gap: 1.42%;">
                <label>Вид информации и источник: </label>
                <select class="form-select" id=""></select>
            </div>
            <div class="external-block">

                <div class="internal-block" style="display: grid; grid-template-columns: auto auto; ">
                    <div class="internal-block" style="display: grid; margin-bottom: 0%; grid-template-columns: auto 1fr 1fr;">
                        <label>Площадь пожара(га):</label>
                        <input class="form-control" type="number" min="0">
                        <input class="form-control" type="text" disabled>
                    </div>
                </div>
                <div class="internal-block" style="display: grid; grid-template-columns: auto auto; ">
                    <div class="internal-block" style="display: grid; margin-bottom: 0%; grid-template-columns: auto 1fr;">
                        <label>Направление распространения:</label>
                        <input class="form-control" type="text">
                    </div>
                </div>            
            </div>
            <div class="external-block">
                <label class="label-for-textarea">Прочее:</label>
                <textarea class="form-control" style="width: 100%;"></textarea>
            </div>
        </div>
        <div class="changing-form" id="geology">
            <div class="external-block" style="display: grid; align-items: center;  column-gap: 1.42%; grid-template-columns: auto 1fr;">
                <label>Вид информации и источник: </label>
                <select class="form-select" id=""></select>
            </div>
            <div class="external-block" style="display: block; align-items: center;">
                <label class="label-for-textarea">Географическая территория(край, область, регион):</label>
                <textarea class="form-control" style="width: 100%;"></textarea>
            </div>
            <div class="external-block" style="display: block; align-items: center;">
                <label class="label-for-textarea">Эпицентр возникновения события:</label>
                <textarea class="form-control" style="width: 100%;"></textarea>
            </div>
            <div class="external-block" style="display: block; align-items: center;">
                <div style="display: flex; align-items: center; margin-bottom: 8px;">
                    <label>Магнитуда: </label> 
                    <input class="form-control" type="number" style="margin-left:auto; width: auto;" min="1" max="9" step="1" id="magnitudeValue" 
                    value="1" oninput="magnitudeRange.value = this.value">
                </div>
                <input class="form-control" type="range" min="1" max="9" step="1" value="1" id="magnitudeRange"list="values" oninput="magnitudeValue.value = this.value">
                <datalist id="values">
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                    <option value="4"></option>
                    <option value="5"></option>
                    <option value="6"></option>
                    <option value="7"></option>
                    <option value="8"></option>
                    <option value="9"></option>
                </datalist>
            </div>
            <div class="external-block">
                <label class="label-for-textarea">Прочее:</label>
                <textarea class="form-control" style="width: 100%;"></textarea>
            </div>
        </div>
        <div class="changing-form" id="hydrology">
            <div class="external-block" style="display: grid; grid-template-columns: auto 1fr; column-gap: 1.42%;">
                <label>Вид информации и источник: </label>
                <select class="form-select" id=""></select>
            </div>
            <div class="external-block">
                <div class="internal-block" style="display: grid;">
                    <label>Название водоема:</label> 
                    <input type="text" class="form-control">
                </div>
                <div class="internal-block" style="display: grid;">
                    <label>Ожидаемый уровень воды:</label> 
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="external-block" style="display: block;">
                <label class="label-for-textarea">Прочее:</label>
                <textarea class="form-control" style="width: 100%;"></textarea>
            </div>
        </div>
        <div class="changing-form" id="emergency">
            <div class="external-block">
                <div class="internal-block" style="display: grid;">
                        <label>Вид информации и источник: </label>
                        <select class="form-select" id=""></select>
                </div>
                <div class="internal-block" style="display: block;">
                    <label class="label-for-textarea">Географическая территория(край, область, регион):</label>
                    <textarea class="form-control" style="width: 100%;"></textarea>
                </div>
            </div>
            <div class="external-block" style="display: block">
                    <label class="label-for-textarea">Прочее:</label>
                    <textarea class="form-control" style="width: 100%;"></textarea>
            </div>
        </div>
        <div class="changing-form" id="other">
            <div class="external-block" style="display: grid; grid-template-columns: auto 1fr; column-gap: 1.42%;">
                    <label>Вид информации и источник: </label>
                    <select class="form-select" id=""></select>
            </div>
            <div class="external-block" style="display: block;">
                    <label class="label-for-textarea">Прочее:</label>
                    <textarea class="form-control" style="width: 100%;"></textarea>
            </div>
        </div>
        <div class="stable-form" style="display: block;">
            <div class="external-block" style="display: block; ">
                <label class="label-for-textarea" for="consequences">Возможные последствия:</label>
                <textarea class="form-control" id="consequences" name="consequences" ></textarea>
            </div>
            <div class="external-block" style="display: block; ">
                <div class="internal-block" style="grid-template-columns: 36.7% 1fr; display: grid;">
                    <div style="display: grid;">
                        <label>Принятые меры:</label>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#measuresModal">Добавить принятые меры</button>
                        <div id="measuresModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="internal-block" style="display: grid; grid-template-columns: auto auto;align-items: center;">
                                            <label>Текущее время:</label>
                                            <input id="measure-date" class="form-control" type="date" style="width:100%; height: auto;"/>
                                        </div>
                                        <div class="external-block">
                                            <label>Принятая мера:</label>
                                            <textarea id="measure-text" class="form-control" style="width:100%; height: auto;"></textarea>
                                        </div>
                                        <div class="internal-block" style="margin-bottom: 0; display: grid;">
                                            <button data-bs-dismiss="modal" class="btn btn-danger" style="min-width: 120px; justify-self: start;">Отменить</button>
                                            <button id="save-measure" class="btn btn-primary" style="min-width: 120px; justify-self: end;">Сохранить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label>Привлечено к устранению: </label>
                        <div style="display: grid;">
                            <div class="internal-block" style="display: grid;  align-items: start; ">
                                <input class="form-control" type="number" name="employees" min="0" max="999" step="1" value="1">
                                <label>Человек</label>
                            </div>
                            <div class="internal-block" style="display: grid; align-items: start;">
                                <input class="form-control" type="number" name="venicles" min="0" max="999" step="1" value="1">
                                <label>ед. техники</label>
                            </div>
                        </div>
                    </div>
                    <textarea class="form-control" id="actions" disabled></textarea>
                </div>
                <div class="internal-block" style="display: grid; grid-template-columns: 36.7% 1fr">
                    <label>Название организации: </label>
                    <input class="form-control" name="organization" type="text"/>
                </div>
            </div>
            <div class="external-block" style="display: block;">
                <label class="label-for-textarea" for="notice">Примечание </label>
                <textarea class="form-control" name="notice"> </textarea>
            </div>
            <div class="external-block" style="display: block;">
                <label class="label-for-textarea" for="attachments">Вложение(пока не сделаны) </label>
                <input type="file" multiple class="form-control" id="fileInput">
                <div id="fileListContainer">
                    <p class="text-muted">Файлы не выбраны</p>
                </div>
            </div>
            <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <label class="modal-title">Подтверждение удаления</label>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Вы уверены, что хотите удалить файл <strong id="fileNameToDelete"></strong>?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                            <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Удалить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="form-footer" style="
        display: grid; grid-template-columns: 2fr auto 1fr; position: fixed; bottom: 0; left: 0; 
        right: 0; background: #f1f1f1;
        padding: 0.63% 1.43% 0.63%;
        z-index: 100; align-items: center; box-shadow: 0 -2px 10px rgba(0,0,0,0.1);">
        <button class="btn btn-danger" style="min-width: 120px; justify-self: start;">Отменить</button>
        <div class="form-check" style="padding-bottom: 0%;">
            <input class="form-check-input" type="checkbox" id="is_ended">
            <span class="form-check-label" for="is_ended">Событие закончено</span>
        </div>
        <button class="btn btn-primary" style="min-width: 120px; justify-self: end;">Сохранить</button>
    </div>
</body>
</html>