<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Пустая форма</title>    
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/change-block-script.js"></script>
    <script src="js/select-navigation.js"></script>
    <script src="js/show-end-date.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/measures.js"></script>
    <script src="js/wind-speed.js"></script>    
</head>
<body>
    <nav class="navbar navbar-expand-xl fixed-top bg-primary">
        <div class="container fluid">
            <button class="navbar-toggler"
                    type="button" data-bs-toggle="collapse"
                    data-bs-target="#main-navbar"
                    aria-controls="main-navbar"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    style="padding: 2%;">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbar-brand">
                <h1><a class="nav-link link-light" href="table_page.html">АРМ СиОО</a></h1>
            </div>
            <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item ">
                    <a class="nav-link link-light" href="form_page.html" aria-current="page" aria-disabled="true">Добавить</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Отфильтровать значения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Создать отчет</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Обновления</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Обратная связь</a>
                </li>
            </ul>
            </div>
            <div class="navbar-text ms-auto">
                 {{ role }} {{ name }}
            </div>
        </div>
    </nav>
    <div class="justify-content-center bg-light" data-bs-theme="light" style="padding-top: 90px; padding-left: 2.53%; padding-right: 2.53%;">
        <div class="form-top-container" style="display: grid; grid-template-columns: 48.2% 48.2%; width:100%; column-gap: 3.57%;">
            <div style="width: 100%; display: block;"> 
                <div class="internal-block" style="display: grid;  align-items: center;">
                    <label for="filial">Филиал</label>
                    <select class="form-select" id="filial" style="width:100%; box-sizing: border-box"> 
                        <option value="">Выберите филиал</option>
                        <option value="tatar">Татарский АУГ МПГ</option>
                        <option value="bashkir">Башкирский АУГ МПГ</option>
                    </select>
                </div>
                <div class="internal-block" style="display: grid; align-items: center;">
                    <label for="enviroment-type">Тип обстановки</label>
                    <select class="form-select" id="enviroment-type" style="width:100%; box-sizing: border-box">
                        <option value="equipment-failure">Отказ оборудования</option>
                        <option value="weather">Погодные условия</option>
                        <option value="fire">Пожарные условия</option>
                        <option value="geology">Геологические условия</option>
                        <option value="hydrology">Гидрологические условия</option>
                        <option value="emergency">Чрезвычайная ситуация</option>
                        <option value="other">Другие</option>
                    </select>
                </div>
                <div class="internal-block" style="display: grid; align-items: center;">
                    <label for="event-location">Место возникновения события</label>
                    <select class="form-select" id="event-location" style="width:100%">
                        <option value="">Выберите место возникновения</option>
                        <option value="water">водопровод</option>
                    </select>
                </div>
            </div>
            <div class="internal-block" style="display: block; " >
                <div style="display: grid; grid-template-columns: auto 1fr; align-items: start; column-gap: 10px; margin-bottom: 1.27%;">
                    <label style="white-space: nowrap;">Дата начала: </label>
                    <input type="date" class="form-control" min="1900-01-01" style="width:100%;">
                </div>
                <div id="event-end" style="display: none; grid-template-columns: auto 1fr; align-items: start; column-gap: 10px;">
                    <label style="white-space: nowrap;">Дата конца: </label>
                    <input type="date" class="form-control" style="width:100%;">
                </div>
            </div>
            
        </div>
    </div>
    <div class="main-form">
        <div class="changing-form" id="equipment-failure" style="display: block;">
            <div class="external-block" id="pick-objects" style="width: 100%; display: block;">
                <div class="internal-block" style="display:grid; align-items: center; grid-template-columns: 51.5% 1fr auto;">
                    <label id="one_object" style="white-space: nowrap;">Объект, на котором произошло событие:</label>
                    <input class="form-control" name="picked_object" type="text" disabled/>
                    <button class="btn btn-primary" style="white-space: nowrap; min-width: max-content; overflow: hidden; text-overflow: ellipsis;">Выбрать объект</button>
                </div>
                <div class="internal-block" style="display:grid; align-items: center; grid-template-columns: 51.5% 1fr;">
                    <span style="grid-column: 1; grid-row: 1; white-space: nowrap;">Список объектов под влиянием события:</span>
                    <button class="btn btn-primary" style="grid-column: 1; grid-row: 2; white-space: nowrap; min-width: max-content;">Добавить/изменить объекты</button>
                    <textarea class="form-control" style="grid-column: 2; grid-row: 1 / span 2; height: 100%;" disabled></textarea>                           
                </div>
            </div>
            <div class="external-block">
                <div class="internal-block" style="display: grid;">
                    <span style="white-space: nowrap;">Система возникновения отказа:</span>
                    <select class="form-select" id="system_decline"> 
                        <option value="">Выберите тип обстановки</option>
                        <option value="equipment failure">Отказ оборудования</option>
                        <option value="weather">Погодные условия</option>
                    </select>
                </div>
                <div class="internal-block" style="display: grid;">
                    <span for="equipment-type" style="white-space: nowrap;">Тип оборудования:</span>
                    <select class="form-select" id="equipment-type"> 
                        <option value="">Выберите тип обстановки</option>
                        <option value="equipment failure">Отказ оборудования</option>
                        <option value="weather">Погодные условия</option>
                    </select>
                </div>
                <div class="internal-block" style="display: grid;">
                    <span id="lbl-equipment-correction" style="white-space: nowrap;">Уточнение по оборудованию:</span>
                    <input class="form-control" name="equipment-correction" type="text" aria-describedby="lbl-equipment-correction"/>
                </div>
                <div class="internal-block" style="display: grid;">
                    <span for="equipment-state" style="white-space: nowrap;">Состояние оборудования:</span>
                    <select class="form-select" id="equipment-state"> 
                        <option value="">Выберите тип обстановки</option>
                        <option value="equipment failure">Отказ оборудования</option>
                        <option value="weather">Погодные условия</option>
                    </select>
                </div>
            </div>
            <div class="internal-block" style="display: block;">
                <label class="label-for-textarea" for="describe-event" style="white-space: nowrap;">Описание события:</label>
                <textarea class="form-control" name="describe-event" type="text" style="width: 100%;"></textarea>
            </div>
        </div>
        <div class="changing-form" id="weather" >
            <div class="external-block" style="display: block;">
                <div class="internal-block" style="display: grid; align-items: center;">
                    <label>Вид информации и источник: </label>
                    <select class="form-select" id="">

                    </select>
                </div>
                <div class="internal-block" style="display: block;">
                    <label class="label-for-textarea">Географическая территория(край, область, регион):</label>
                    <textarea class="form-control" id="territory" ></textarea>
                </div>
            </div>
            <div class="external-block" style="display: block;">
                <div class="internal-block responsive-block">
                    <div class="internal-block" style="display: grid;"> 
                        <label style="grid-column: 1 / span 3; grid-row: 1;">Метеоусловия:</label>
                        <button class="btn btn-primary" style="grid-column: 1; grid-row: 2;">&lt</button>
                        <select class="form-select" id="select-weather-condition" style="grid-column: 2; grid-row: 2; text-align-last: center;">
                            <option>Ясно ☀️</option>
                            <option>Облачно ⛅</option>
                            <option>Пасмурно ☁️</option>
                            <option>Дождь 🌧️</option>
                            <option>Туман 🌫️</option>
                            <option>Снег ❄️</option>
                            <option>Метель ❄️🌬️</option>
                        </select>
                        <button class="btn btn-primary" style="grid-column: 3; grid-row: 2;">&gt</button>
                    </div>
                    <div class="internal-block" style="display: grid;">
                        <label style="grid-column: 1 / span 3; grid-row: 1;">Осадки:</label>
                        <button class="btn btn-primary" style="grid-column: 1; grid-row: 2;">&lt</button>
                        <select class="form-select" id="select-rainfall" style="grid-column: 2; grid-row: 2; text-align-last: center; text-align: center;">
                            <option>Отсутствуют ☀️</option>
                            <option>Дождь 🌧️</option>
                            <option>Гроза ⚡</option>
                            <option>Снег ❄️</option>
                            <option>Снег с порывами ветра ❄️💨</option>
                            <option>Град 🧊</option>
                            <option>Ледяной дождь 🌧️🧊</option>
                            <option>Дождь с порывами ветра 🌧️💨</option>
                        </select>
                        <button class="btn btn-primary" style="grid-column: 3;grid-row: 2;">&gt</button>
                    </div>
                </div>
                <div class="internal-block" style="display: grid; grid-template-columns: auto auto;">
                    <div class="internal-block" style="display: grid; margin-bottom: 0%;">
                        <label >Температура (по Цельсию):</label>
                        <input class="form-control" type="number" min="-273" required/>
                    </div>
                </div>
                <div class="internal-block" style="display: grid; grid-template-columns: auto auto; ">
                    <div class="internal-block" style="display: grid; margin-bottom: 0%; grid-template-columns: auto 1fr 1fr;">
                        <label style="grid-column: 1;">Ветер (м/сек):</label>
                        <input id="input-wind-speed" class="form-control" type="number" min="0" style="grid-column: 2;" required/>
                        <input id="output-wind-group" class="form-control" type="text" style="grid-column: 3;" disabled/>
                    </div>
                </div>
            </div>
            <div class="internal-block" style="display: block;">
                <label class="label-for-textarea">Прочее:</label>
                <textarea class="form-control"></textarea>    
            </div>
        </div>
        <div class="changing-form" id="fire">
            <div class="external-block" style="display: grid; align-items: center; grid-template-columns: auto 1fr; column-gap: 1.42%;">
                <label>Вид информации и источник: </label>
                <select class="form-select" id=""></select>
            </div>
            <div class="external-block">

                <div class="internal-block" style="display: grid; grid-template-columns: auto auto; ">
                    <div class="internal-block" style="display: grid; margin-bottom: 0%; grid-template-columns: auto 1fr 1fr;">
                        <label>Площадь пожара(га):</label>
                        <input class="form-control" type="number" min="0">
                        <input class="form-control" type="text" disabled>
                    </div>
                </div>
                <div class="internal-block" style="display: grid; grid-template-columns: auto auto; ">
                    <div class="internal-block" style="display: grid; margin-bottom: 0%; grid-template-columns: auto 1fr;">
                        <label>Направление распространения:</label>
                        <input class="form-control" type="text">
                    </div>
                </div>            
            </div>
            <div class="external-block">
                <label class="label-for-textarea">Прочее:</label>
                <textarea class="form-control" style="width: 100%;"></textarea>
            </div>
        </div>
        <div class="changing-form" id="geology">
            <div class="external-block" style="display: grid; align-items: center;  column-gap: 1.42%; grid-template-columns: auto 1fr;">
                <label>Вид информации и источник: </label>
                <select class="form-select" id=""></select>
            </div>
            <div class="external-block" style="display: block; align-items: center;">
                <label class="label-for-textarea">Географическая территория(край, область, регион):</label>
                <textarea class="form-control" style="width: 100%;"></textarea>
            </div>
            <div class="external-block" style="display: block; align-items: center;">
                <label class="label-for-textarea">Эпицентр возникновения события:</label>
                <textarea class="form-control" style="width: 100%;"></textarea>
            </div>
            <div class="external-block" style="display: block; align-items: center;">
                <label>Магнитуда: </label> 
                <span style="margin-left:auto" id="magnitudeValue">1</span>
                <input class="form-control" type="range" min="1" max="9" step="1" value="1" list="values"
                    oninput="document.getElementById('magnitudeValue').textContent = this.value">
                <datalist id="values">
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                    <option value="4"></option>
                    <option value="5"></option>
                    <option value="6"></option>
                    <option value="7"></option>
                    <option value="8"></option>
                    <option value="9"></option>
                </datalist>
            </div>
            <div class="external-block">
                <label class="label-for-textarea">Прочее:</label>
                <textarea class="form-control" style="width: 100%;"></textarea>
            </div>
        </div>
        <div class="changing-form" id="hydrology">
            <div class="external-block" style="display: grid; grid-template-columns: auto 1fr; column-gap: 1.42%;">
                <label>Вид информации и источник: </label>
                <select class="form-select" id=""></select>
            </div>
            <div class="external-block">
                <div class="internal-block" style="display: grid;">
                    <label>Название водоема:</label> 
                    <input type="text" class="form-control">
                </div>
                <div class="internal-block" style="display: grid;">
                    <label>Ожидаемый уровень воды:</label> 
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="external-block" style="display: block;">
                <label class="label-for-textarea">Прочее:</label>
                <textarea class="form-control" style="width: 100%;"></textarea>
            </div>
        </div>
        <div class="changing-form" id="emergency">
            <div class="external-block">
                <div class="internal-block" style="display: grid;">
                        <label>Вид информации и источник: </label>
                        <select class="form-select" id=""></select>
                </div>
                <div class="internal-block" style="display: block;">
                    <label class="label-for-textarea">Географическая территория(край, область, регион):</label>
                    <textarea class="form-control" style="width: 100%;"></textarea>
                </div>
            </div>
            <div class="external-block" style="display: block">
                    <label class="label-for-textarea">Прочее:</label>
                    <textarea class="form-control" style="width: 100%;"></textarea>
            </div>
        </div>
        <div class="changing-form" id="other">
            <div class="external-block" style="display: grid; grid-template-columns: auto 1fr; column-gap: 1.42%;">
                    <label>Вид информации и источник: </label>
                    <select class="form-select" id=""></select>
            </div>
            <div class="external-block" style="display: block;">
                    <label class="label-for-textarea">Прочее:</label>
                    <textarea class="form-control" style="width: 100%;"></textarea>
            </div>
        </div>
        <div class="stable-form" style="display: block;">
            <div class="external-block" style="display: block; ">
                <label class="label-for-textarea" for="consequences">Возможные последствия:</label>
                <textarea class="form-control" id="consequences" name="consequences" ></textarea>
            </div>
            <div class="external-block" style="display: block; ">
                <div class="internal-block" style="grid-template-columns: 36.7% 1fr; display: grid;">
                    <div style="display: grid;">
                        <label>Принятые меры:</label>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#measuresModal">Добавить принятые меры</button>
                        <div id="measuresModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="internal-block" style="display: grid; grid-template-columns: auto auto;align-items: center;">
                                            <label>Текущее время:</label>
                                            <input id="measure-date" class="form-control" type="date" style="width:100%; height: auto;"/>
                                        </div>
                                        <div class="external-block">
                                            <label>Принятая мера:</label>
                                            <textarea id="measure-text" class="form-control" style="width:100%; height: auto;"></textarea>
                                        </div>
                                        <div class="internal-block" style="margin-bottom: 0; display: grid;">
                                            <button id="close-overlay" class="btn btn-danger" style="min-width: 120px; justify-self: start;">Отменить</button>
                                            <button id="save-measure" class="btn btn-primary" style="min-width: 120px; justify-self: end;">Сохранить</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <label>Привлечено к устранению: </label>
                        <div style="display: grid;">
                            <div class="internal-block" style="display: grid;  align-items: start; ">
                                <input class="form-control" type="number" name="employees" min="0" max="999" step="1" value="1">
                                <label>Человек</label>
                            </div>
                            <div class="internal-block" style="display: grid; align-items: start;">
                                <input class="form-control" type="number" name="venicles" min="0" max="999" step="1" value="1">
                                <label>ед. техники</label>
                            </div>
                        </div>
                    </div>
                    <textarea class="form-control" id="actions" disabled></textarea>
                </div>
                <div class="internal-block" style="display: grid; grid-template-columns: 36.7% 1fr">
                    <label>Название организации: </label>
                    <input class="form-control" name="organization" type="text"/>
                </div>
            </div>
            <div class="external-block" style="display: block;">
                <label class="label-for-textarea" for="notice">Примечание </label>
                <textarea class="form-control" name="notice"> </textarea>
            </div>
            <div class="external-block" style="display: block;">
                <label class="label-for-textarea" for="attachments">Вложение(пока не сделаны) </label>
                <textarea class="form-control" name="attachments"> </textarea>
            </div>
        </div>
    </div>
    
    <div class="form-footer" style="
        display: grid; grid-template-columns: 2fr auto 1fr; position: fixed; bottom: 0; left: 0; 
        right: 0; background: #f1f1f1;
        padding: 0.63% 1.43% 0.63%;
        z-index: 100; align-items: center; box-shadow: 0 -2px 10px rgba(0,0,0,0.1);">
        <button class="btn btn-danger" style="min-width: 120px; justify-self: start;">Отменить</button>
        <div class="form-check" style="padding-bottom: 0%;">
            <input class="form-check-input" type="checkbox" id="is_ended">
            <span class="form-check-label" for="is_ended">Событие закончено</span>
        </div>
        <button class="btn btn-primary" style="min-width: 120px; justify-self: end;">Сохранить</button>
    </div>
</body>
</html>