<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Дополнительная информация</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/config.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/loadNavbar.js"></script>
    <script src="js/loadUserProfile.js"></script>
</head>
<body>
    <div id="menu"></div>
    <main style="padding-top: 90px;">
        <div class="table-responsive" style="width: 80%; margin-left: auto; margin-right: auto; ">
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th scope="col">Параметр:</th>
                        <th scope="col">Значение:</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in table %}
                    <tr class="">
                        <td scope="row">{{par.0}}</td>
                        <td scope="row">{{par.1}}</td>
                    </tr>
                    {% empty %}
                    <tr class="">
                        <td scope="row">0</td>
                        <td scope="row">1</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="internal-block">
            <label>Возможные последствия</label>
            <input type="text" class="form-control" disabled/>
        </div>
        <div class="internal-block">
            <label>Принимаемые меры</label>
            <textarea class="form-control" disabled></textarea>
        </div>
        <div class="internal-block">
            <label>Информацию внес:</label>
            <input id="writer-name" type="text" class="form-control" disabled>
        </div>
    </main>
    <footer class="fixed-bottom bg-light p-2">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <button class="btn btn-primary btn-lg">Удалить</button>
                </div>
                <div>
                    <a href="table_page.html"><button class="btn btn-primary btn-lg">Ок</button></a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>