<html>
{% load static %}

<body>
    <nav class="navbar navbar-expand-xl fixed-top bg-primary navbar-dark">
        <div class="container fluid">
            <div class="navbar-container">
                <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-brand">
                    <h1><a class="nav-link link-light" href="/table">АРМ СиОО</a></h1>
                </div>
                <div class="navbar-center">
                    <div class="collapse navbar-collapse" id="main-navbar">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link link-light nav-button" href="/form" aria-current="page">
                                    <h4>Добавить</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link-light nav-button" href="#">
                                    <h4>Обновления</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link-light nav-button" href="#">
                                    <h4>Обратная связь</h4>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="navbar-right">
                    <div class="navbar-text ms-auto">
                        <label id="username" style="color: white; font-size: 16px;"></label>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</body>

</html>