<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Базовая страница</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/config.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/table.js"></script>
    <script src="js/loadNavbar.js"></script>
    <script src="js/loadUserProfile.js"></script>
</head>
<body>
    <div id="menu"></div>
    <main style="padding-top: 90px;">
        <div class="table-responsive">
            <table class="table table-primary table-responsive table-hover">
                <thead>
                    <tr>
                        <th scope="col" width='10%'>Дата, время возникновения события</th>
                        <th scope="col" width='10%'>ЛПУ</th>
                        <th scope="col" width='18%'>Категория информации</th>
                        <th scope="col" width='20%'>Наименование объекта</th>
                        <th scope="col" width='20%'>Примечание</th>
                        <th scope="col" width='10%'>Дата, время <br>завершения события</th>
                        <th scope="col" width='7%'>Наличие вложений</th>
                        <th scope="col" width='5%'>Отчет ПДС</th>
                        
                    </tr>
                </thead>
                <tbody id="eventsTableBody">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>fkjgj</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tbody>
            </table>
        </div>
    </main>
    <footer class="fixed-bottom bg-light p-2">
        
    </footer>
</body>
</html>