<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Базовая страница</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-xl fixed-top bg-primary">
        <div class="container fluid">
            <button class="navbar-toggler"
                    type="button" data-bs-toggle="collapse"
                    data-bs-target="#main-navbar"
                    aria-controls="main-navbar"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    style="padding: 2%;">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbar-brand">
                <h1><a class="nav-link link-light" href="table_page.html">АРМ СиОО</a></h1>
            </div>
            <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item ">
                    <a class="nav-link link-light" href="form_page.html" aria-current="page">Добавить</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Отфильтровать значения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Создать отчет</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Обновления</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Обратная связь</a>
                </li>
            </ul>
            </div>
            <div class="navbar-text ms-auto">
                 {{ role }} {{ name }}
            </div>
        </div>
    </nav>
    <main style="padding-top: 90px;">
        <div class="table-responsive">
            <table class="table table-primary table-responsive table-hover">
                <thead>
                    <tr>
                        <th scope="col" width='10%'>Дата, время возникновения события</th>
                        <th scope="col" width='10%'>ЛПУ</th>
                        <th scope="col" width='18%'>Категория информации</th>
                        <th scope="col" width='20%'>Наименование объекта</th>
                        <th scope="col" width='20%'>Примечание</th>
                        <th scope="col" width='10%'>Дата, время <br>завершения события</th>
                        <th scope="col" width='7%'>Наличие вложений</th>
                        <th scope="col" width='5%'>Отчет ПДС</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in table %}
                    <tr class="">
                        <td scope="row">{{lan.0}}</td>
                        <td scope="row">{{lan.1}}</td>
                        <td scope="row">{{lan.2}}</td>
                        <td scope="row">{{lan.3}}</td>
                        <td scope="row">{{lan.4}}</td>
                        <td scope="row">{{lan.5}}</td>
                        <td scope="row">{{lan.6}}</td>
                        <td scope="row"><input type="checkbox" class="form-check"  id="{{lan.7}}" checked></td>
                    </tr>
                    {% empty %}
                    <tr class="">
                        <td scope="row">0</td>
                        <td scope="row">1</td>
                        <td scope="row">2</td>
                        <td scope="row">3</td>
                        <td scope="row">4</td>
                        <td scope="row">5</td>
                        <td scope="row">6</td>
                        <td scope="row"><input class="form-check" type="checkbox" id="0" checked></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    <footer class="fixed-bottom bg-light p-2">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <button class="btn btn-primary btn-lg">Дополнительная информация</button>
                </div>
                <div>
                    <button class="btn btn-primary btn-lg">Редактировать</button>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>