html {
    margin: 0;
    padding: 0;
    height: 100%;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    .main-form{
        grid-template-columns: 50% 50%; 
    }
    .stable-form{
        grid-row: 1;
        grid-column: 2;
    }
}
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
    .changing-form{
        margin-bottom: 30px;
    }
    .stable-form{
        grid-row: 2;
        grid-column: 1;
        gap:30px
    }
}
.form-footer {
    background-color: #f1f1f1;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.25%;
}
body{
    overflow-x: hidden;
}
table {
    border:3px solid rgb(195, 195, 243);
    border-radius:3px;
}
a {
    text-decoration: none;
} 

.form-top-container {
    display: grid; 
    grid-template-columns: 48.2% 48.2%; 
    width:100%;
    column-gap: 3.57%;
}
.main-form{
    display: grid; 
    width: 100%;
    padding-top: 1.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    column-gap: 0.71%;
}
.changing-form{
    display: none;
}
.internal-block{
    width: 100%;
    margin-bottom: 1.27%;
    padding: 0%;
    column-gap: 1.42%;
    grid-template-columns: auto 1fr;
}
.external-block{
    width: 100%;
    margin-bottom: 3.17%;
    padding: 0%;
}
main{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
input.form-control,
select.form-select,
button.btn-primary,
textarea.form-control{
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
}
